/*GENERELLE REGLER*/

/* Menu med inspiration fra https://github.com/itaddiction/flexnavdropdown, og med egne ændringer */

#logo-burger a {
    margin-right: auto;
    width: 100px;
}


/*Denne skjuler burgermenuens checkbox som aktiverer toggle funktionen*/
.hidden {
    display: none;
}

/*MEDIA QUERY MOBILE */

@media all and (max-width: 599px) {

    /*HEADER NAV*/
    header {
        display: block;
        padding: 1.2%;
    }
    label{
margin-left: 90%;
    }

#topnav a {

    display: block;
    font-size: 18px;;
    line-height: 1.5em;
}

    .logo{
        width: 80%;
    }

    /*label er selve burgerikonet*/
    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
        /*laver en hånd i stedet for en pil, når man kører hen over burgermenuen*/
    }

    /*Dette gør at burgermenuen folder sig ud, når man klikker på den - eller rettere sagt den checkboks som er skjult bag den*/
    #toggle:checked + #topnav {
        display: block;
    }

    /*Den primære navigation skjules på den lille skærm*/
    #topnav {
        display: none;
    }


/* bestemmer størrelsen på SoMe ikonerne */ 
    .someicons{
        width: 10%;
    }

}

/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 600px) {



    /*Dette fjerner burgermenu ikonet*/
    label {
        display: none;
    }

}
